ul {
  width: 100%;
}

input {
  width: 100%;
  border: none;
}

input:focus-visible {
  outline: none;
}

.list-group {
  -webkit-box-shadow: 0px 14px 44px 12px rgba(0,0,0,0.33); 
  box-shadow: 0px 14px 44px 12px rgba(0,0,0,0.33);
}
.shadows {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(255,255,255,1), 0px 4px 0px 0px rgba(0,0,0,0.1), 0px 7px 0px 0px rgba(255,255,255,1), 0px 8px 0px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 3px 0px 0px rgba(255,255,255,1), 0px 4px 0px 0px rgba(0,0,0,0.1), 0px 7px 0px 0px rgba(255,255,255,1), 0px 8px 0px 0px rgba(0,0,0,0.1);
}

.button-delete {
  position: absolute;
  right: 0;
  visibility: hidden;
  background-color: transparent;
  border: none;
}
.list-group-item:hover .button-delete {
  visibility: visible;
  opacity: 0.5;
}
.list-group-item:hover .button-delete:hover {
  opacity: 1;
}